<% if flash[:alert] %>
  <div id="notice"><%= flash[:alert] %></div>
<% end %>
<br>
<header id= "blog_header">
  <h1 class= "blog_title">管理者ログイン</h1>
</header>
<%= form_with(model: @users, url: login_url, local: true) do |f| %>
	<div>
		<div class= "label">
			<%= f.label :userId, 'ユーザ'%><br>
		</div>
	  	<div class= "outer">
		  <%= f.text_field :userId, class: "text", placeholder: "ユーザーIDを入力してください"%>
      	</div>
	</div>
	<br>
	<div>
		<div class= "label">
			<%= f.label :password, 'パスワード'%><br>
		<div class= "outer">
			<%= f.password_field :password, class: "text", placeholder: "パスワードを入力してください"%>
		</div>
	</div>
    <br>
	<div class="button_wrapper">
		<%= f.submit "ログイン", class: "login_button"%>
	</div>
<% end %>
